@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap")



body {
  width: 0%;
  height: 0%;
  font-family: 'Lobster', cursive;
  padding: 0;
  margin: 0;
  background-color: ;
}


.tela-inteira {
  height: ;
  display: ;
  
}

.img-busca {
  width: 2%;
}

#campoDeBusca {
  display: ;
  margin-left: %;
  padding:;
}

header {
  background-color: ;
  display: ;
  align-items: ;
  padding: ;
  height: ;
}

header > h1 {
  color ;
  font-size: ;
  margin-left:c;
}

.logo {
  width: ;
  margin-left: ;
}

.itens1 {
  width: ;
  margin-left: ;
}

.itens2 {
  margin-left: ;
}

.icones-menu{
  width: ;
  opacity: ;
  margin-right: ;
  margin-top: ;
}

sup {
  font-size: ;
  font-weight: ;
}

main {
  min-height: ;
  display: ;
  margin-right: ;
}

.menu-vertical {
  flex-basis: ;
  border-right-style: ;
  border-right-width: ;
}

.botoes-meunu-vertical {
  list-style-type: ;
}

.painel-de-videos {
  background-color:;
  padding: ;
  flex-grow: ;
  display: ;
  grid-template-columns:;
  grid-template-rows: ;
  gap: ;
}

.media1 {
  grid-column-start: ;
  grid-row-start:;
}

.media2 {
  grid-column-start: ;
  grid-row-start: ;
}

.media3 {
  grid-column-start: ;
  grid-row-start: ;
}

.media4 {
  grid-column-start: ;
  grid-row-start: ;
}

.media5 {
  grid-column-start: ;
  grid-row-start: ;
}

.media6 {
  grid-column-start: ;
  grid-row-start: ;
}

.media7 {
  grid-column-start: ;
  grid-row-start: ;
}

.media8 {
  grid-column-start: ;
  grid-row-start: ;
}


.box-pagina-principal {
  display: grid;
  grid-template-rows: ;
  grid-template-columns: ;
  border-style: ;
  border-width: ; 
  align-items: ;
  justify-items: ;
  background-color: ;
}


footer {
  height: ;
  background-color: ;
  margin: ;
  display: ;
  align-items: ;
  justify-content: ;
  border-top: ;
}

footer>h4{
  align-items: ;
  padding-top: ;
}

.box-pagina-principal > img {
  width: ;
  height: ;
}

h4 {
  margin-left: ;
}